---
import Layout from "../layouts/Layout.astro";
import spm from "../assets/spm.png";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import "@fontsource/bebas-neue";

---

<Layout>
  <div id="centered">
    <h1></h1>
    <Image src={spm} alt="SPM Logo" />
    <p>Coming to you this summer</p>
    <div id="logos">
      <a href="https://www.instagram.com/spmdelft2025/"
        ><Icon name="cib:instagram" /></a
      >
      <a href="https://aegee-delft.nl"><Icon name="a" /></a>
    </div>
  </div>
</Layout>

<style>
  #centered {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: #70096e;
	font-family: "Bebas Neue", sans-serif;
	background-color: #f3def2;
  }

  p {
	font-size: 2rem;
  }
  img {
    max-width: 95%;
    height: auto;
    
  }
  #logos {
	padding: 2rem;
  }
  #logos > a {
    margin: 3rem;
	font-size: 2rem;
  }
</style>
