---
import "@fontsource/open-sans";
---

<div>
    <p>
        The Strategic Planning Meeting sets the direction for the next three
        years in AEGEE.
    </p>
    <p>Will you shape the future together with us?</p>
    <p>Are you ready to delve into dreams?</p>
</div>

<style>
    div {
        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
        
    }
    p {
        margin: 0;
    }
</style>
